* {
  box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: rgb(70, 119, 223);
  letter-spacing: 0.05rem;
  background-color: whitesmoke;
}

button {
  border: none;
  cursor: pointer;
  font-family: inherit;
  color: white;
  padding: 0.5rem 1rem;
  letter-spacing: inherit;
}

input {
  cursor: pointer;
}

strong {
  color: #2257c6;
}

a {
  text-decoration: none;
  color: rgb(209, 102, 142);
}
a:hover {
  color: rgb(255, 217, 0);
}

main {
  padding: 1rem;
  display: grid;
  grid-template-columns: 100%;
  max-width: 93.75rem;
  margin-inline: auto;
}

h1 {
  text-transform: uppercase;
  font-size: 4rem;
}

h1 span {
  color: rgb(255, 217, 0);
}

.create-task-form {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.create-task-form input {
  padding: 0.5rem;
  border: 0.1rem solid rgb(209, 102, 142);
  font-family: inherit;
  color: rgb(209, 102, 142);
  box-shadow: 0.2rem 0.3rem rgb(70, 119, 223);
}

.create-task-form input:focus-visible {
  outline-color: rgb(209, 102, 142);
}

.list {
  margin-block: 4rem;
  border: 0.1rem solid;
  max-width: 40rem;
  padding: 0.5rem;
  box-shadow: 0.4rem 0.3rem rgb(255, 217, 0);
}

.completed {
  text-decoration: line-through;
  color: rgb(209, 102, 142);
}

input[type=checkbox] {
  accent-color: rgb(209, 102, 142);
}

.todo-item {
  max-width: 40rem;
  border-bottom: 1px solid rgba(70, 119, 223, 0.17);
  cursor: pointer;
}

.todo-item label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
  cursor: pointer;
  text-wrap: nowrap;
  gap: 0.5rem;
}

.todo-item .group-1 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  overflow: auto;
  max-width: 30rem;
}

.todo-item .group-2 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  overflow: auto;
}

.editing-input {
  border: none;
  border-bottom: 1px dotted;
}

.editing-input:focus-visible {
  outline: none;
}

.empty-list {
  text-align: center;
  font-size: 0.9rem;
  color: grey;
}

.blabberings h2 {
  color: rgb(209, 102, 142);
  font-size: 2rem;
}

.blabberings h2 span:first-of-type {
  color: rgb(70, 119, 223);
}

.blabberings h2 span {
  color: rgb(255, 217, 0);
}

.blabberings {
  text-align: center;
  margin-block-start: 5rem;
  max-width: 35rem;
  margin-inline: auto;
}

.note-taking-ad {
  margin-block-start: 5rem;
}

.credits {
  font-size: 0.8rem;
}

.create-task-form button {
  background-color: rgb(255, 217, 0);
  color: rgb(70, 119, 223);
  box-shadow: 0.2rem 0.3rem;
  transition: 0.4s;
}

.create-task-form button:hover {
  box-shadow: 0.1rem 0.1rem;
  background-color: #f0cc00;
}

.delete-btn {
  background-image: url(/assets/delete.svg);
}

.edit-btn {
  background-image: url(/assets/edit.svg);
}

.delete-btn,
.edit-btn {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.25rem;
  width: 2rem;
  aspect-ratio: 1;
}
.delete-btn:hover,
.edit-btn:hover {
  background-size: 1.5rem;
}

.save-btn {
  background-color: rgb(255, 217, 0);
  padding: 0.3rem 0.5rem;
  color: rgb(70, 119, 223);
}
.save-btn:hover {
  background-color: #f0cc00;
}

@media screen and (min-width: 1000px) {
  main {
    grid-template-columns: 50% 46%;
    gap: 4%;
    padding: 2rem;
    margin-right: 1rem;
  }
}/*# sourceMappingURL=index.css.map */